<title>Holiday Homes</title>
<h1>Welcome to Holiday Homes test soutenance 2</h1>
<div><a href="{% url 'profiles_index' %}">Profiles</a></div>
<div><a href="{% url 'lettings_index' %}">Lettings</a></div>